{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="flex">
{% for category in categories %}

    <div class="flex-col">
        <a href="{{ path('app_category_product', {'category': category.name})}}">
            <img src="{{ asset('uploads/pictures/' ~ category.picture) }}" width="100px"/>
            <h3 >{{ category.name }}</h3>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}
