{% extends 'base.html.twig' %}

{% block title %}New PointCollection{% endblock %}

{% block body %}
    <h1>Create new PointCollection</h1>

    {{ include('point_collection/_form.html.twig') }}

    <a href="{{ path('app_point_collection_index') }}">back to list</a>
{% endblock %}
