{% extends 'base.html.twig' %}
{% block body %}
    
 <div class="flex flex-row ">
  
{% for listproduct in listProducts %}
<a href="{{ path('app_category_product', {'id': listproduct.id})}}">
        <img src="{{ asset('assets/image/logoproduct/' ~ listproduct.picture) }}" alt="product" />
</a>

        
        
{% endfor %} 
   
</div>
{% endblock %}